html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  background: #f4f4f4;
  margin: 2em auto;
  padding: 0.8em;
  width: 25%;
  border: 3px solid #000;
}

.login-wrapper {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.login-wrapper label {
  display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 5px;
  margin: 10px 0;
}

header {
  margin: auto;
  font-size: 25px;
}

.flash, .error {
  background: #000;
  color: #fff;
  padding: 0.5em;
}

.right {
  display: flex; */
  justify-content: space-between;
  padding: 30px;
  text-decoration:none;

}

.top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  background-color: pink;
  align-items: center;
  /* padding: 0px; */
  /* margin-top:50px; */
}

.title {
  font-size: 30px;

}
